* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    /* background-color: #878787; */
    background-color: #3c3836;
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.control-panel {

}

.radiobutton {
    border: 3px solid #CAE9F5;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 14px;
    background-color: #efefef;
}

.radiobutton > img {
    -webkit-filter: grayscale(97%); 
    filter: grayscale(97%);
}

.languages {
    background: white;
    border: 1px solid gray;
}

#editor {
    height: 500px;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Overpass Mono', monospace;
}

.button-container {
    text-align: right;
    float: right;
}

#btn2 {
    background-color: #CAE9F5;
    color: #1a1a3e;
    padding: 6px 12px;
    margin: 6px 10px 5px 10px;
    border: 0;
    border-radius: 6px;
    font-weight: 400;
}

#btn3 {
    background-color: #ededed;
    color: #1a1a3e;
    padding: 3px 12px;
    margin: 6px 10px 5px 10px;
    border: 3px solid #CAE9F5;
    border-radius: 6px;
    font-weight: 400;
}

.output {
    background-color: #ededed;
    padding: 4px;
    border: 3px solid #CAE9F5;
    height: 500px;
    width: 97%;
    resize: none;
    margin: 0px 8px 0px 8px;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Overpass Mono', monospace;
}

.tablediv {
    margin-top: 20px;
}

table {
    width: 100%;
}

.col1 {
    margin: auto;
    text-align: center;
    width: 4%;
    vertical-align: top;
}

.col2 {
    width: 55%;
}

.col3 {
    width: 41%;
}